{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            removePlugins: ['Heading', 'Link'],
            toolbar: []
        })
        .then(editor => {
            editor.isReadOnly = true;
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>
<script>
    $(function () {
        $('#ngayXuatBan').datetimepicker({
            // format: 'd/m/Y H:i'
            format: 'Y/m/d',
            timepicker: false,
            mask: true,
        });
    })
</script>
{{/section}}
<header id="header">
    <div id="post-header" class="page-header">
        <div class="background-img" style="background-image: url('{{post.img}}');"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>{{post.tieuDe}}</h1>
                    <div class="post-meta">
                        <a class="post-category cat-1" href="#">{{post.chuyenMuc}}</a>
                        <a class="post-category cat-4" href="#">{{post.tag}}</a>
                        <span class="post-date">{{h_dateformat post.ngayDang}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="main-post">
                <textarea name="content" id="editor">{{{post.content}}} </textarea>
            </div>
            <form action="/editor/approved/{{post._id}}" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Chọn ngày xuất bản</span>
                    </div>
                    <input type="text" class="form-control" id="ngayXuatBan" name="ngayXuatBan">
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Duyệt</button>
                </div>
            </form>

        </div>
    </div>
</div>