<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center mt-3">
                <h1>QUẢN LÍ 16TH-NEWS-LMHT</h1>
            </div>
            <ul class="nav justify-content-center mt-3">
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qltk">Quản lí tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/renewed">Gia hạn subcriber</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlbv">Duyệt bài</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qlpost">Quản lí bài viết đã được đăng</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí editor</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/catManager">Quản lí Categories</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info" href="/admin/tagManager">Quản lí Tag</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">catName</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.cat}}
                    <tr>
                        <th scope="row"></th>
                        <td>{{catName}}</td>
                        {{!-- <a href="/admin/adminControl/editRoleWriter/{{_id}}" class="btn btn-outline-info ">Writer</a>
              <a href="/admin/adminControl/editRoleEditor/{{_id}}" class="btn btn-outline-success ">Editor</a>
              <a href="/admin/adminControl/editRoleG_premium/{{_id}}" class="btn btn-outline-info ">Subcriber</a> --}}

                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#edit{{_id}}"><i
                                    class="far fa-edit"></i>Edit</button>
                            <div class="modal fade" id="edit{{_id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit categories</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/admin/cat/edit/{{_id}}" method="POST">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="catName"
                                                        id="exampleFormControlInput1" placeholder="{{catName}}">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/cat/delete/{{_id}}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i>Delte</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="text-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#addTag"><i
                        class="fas fa-plus"></i>Add</button>
                <div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add categories</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/cat/add" method="POST">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" name="catName" class="form-control"
                                            id="exampleFormControlInput1" placeholder="Tên cat mới">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>