<div class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12">
                <div class="text-center mt-3">
                    <h1>QUẢN LÍ 16TH-NEWS-LMHT</h1>
                </div>
                <ul class="nav justify-content-center mt-3">
                    <li class="nav-item">
                        <a class="btn btn-info" href="/admin/adminControl/qltk">Quản lí tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="/admin/adminControl/qlbv">Duyệt bài</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="/admin/adminControl/qlpost">Quản lí bài viết đã được đăng</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí editor</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí chuyên mục</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {{#each post}}
            {{#each this}}
            <div class="col-md-8">
                <div class="post">
                    <a class="post-img" href="/post/{{this._id}}"><img src="{{this.img}}"
                            alt="/public/img/Wallpapers-Heo-Timt-2019 21.jpg"></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-1" href="/categories/{{this.chuyenMuc}}">{{this.chuyenMuc}}</a>
                            <span class="post-date">{{h_dateformat this.ngayDang}}</span>
                        </div>
                        <h3 class="post-title"><a href="/post/{{this._id}}">{{this.tieuDe}}</a></h3>
                        <a class="btn btn-primary btn-lg btn-block" href="/admin/disApproved/{{this._id}}">Gỡ bài
                            viết</a>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/each}}
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        {{#each this.page_numbers}}
                        {{#if active}}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{value}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {{else}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>