<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center mt-3">
        <h1>QUẢN LÍ 16TH-NEWS-LMHT</h1>
      </div>
      <ul class="nav justify-content-center mt-3">
        <li class="nav-item">
          <a class="btn btn-info" href="/admin/adminControl/qltk">Quản lí tài khoản</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" href="/admin/adminControl/qlbv">Duyệt bài</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" href="/admin/adminControl/qlpost">Quản lí bài viết đã được đăng</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí editor</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-info" href="/admin/adminControl/qleditor">Quản lí chuyên mục</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Phân quyền</th>
            <th scope="col">Sửa quyền</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.user}}
          <tr>
            <th scope="row"></th>
            <td>{{userName}}</td>
            <td>{{email}}</td>
            <td>{{role}}</td>
            <td>
              <a href="/admin/adminControl/editRoleWriter/{{_id}}" class="btn btn-outline-info ">Writer</a>
              <a href="/admin/adminControl/editRoleEditor/{{_id}}" class="btn btn-outline-success ">Editor</a>
              {{!-- <a href="/admin/adminControl/editRoleAdmin/{{_id}}" class="btn btn-outline-danger ">Admin</a> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>